* {
    margin: 0px;
    padding: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
    background: url(/img/banner-bk.jpg);
    color: white;
    height: 100vh;
}

.container {
    height: 100px;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.logo {
    width: 50%;
    display: flex;
    justify-content: flex-start;
    align-items: center;

}

.logo a {
    text-decoration: none;
    color: white;
}

.logo-image {
    width: 100px;
    height: 100px;
}

.logo-text {
    padding-top: 10px;
    margin-right: 10px;
    font-size: 35px;
    font-weight: 700;
    text-align: left;
}

.menu {
    width: 35%;
    list-style-type: none;
    font-size: 18px;
    font-weight: 600;
    display: flex;
    align-items: center;
}

a {
    text-decoration: none;
    color: white;
}

.items {
    display: inline-block;
    margin-right: 20px;
    padding-right: 20px;
    padding-top: 20px;
    cursor: pointer;
}

.items a {
    transition: border-bottom .3s;
}

.items a:hover {
    border-bottom: 4px solid rgb(255, 220, 22);
}

.head-text {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* Add this line */
    align-items: flex-start;
    /* Add this line */
    width: 50%;
    height: 400px;
    margin-top: 20px;
    margin-left: 150px;
}

.nav-heading {
    text-transform: capitalize;
    font-size: 60px;
    font-weight: 700;
}

.head-info {
    font-size: 20px;
    font-weight: 300;

    text-justify: inter-word;
}

.btn {
    width: 150px;
    height: 50px;
    background-color: rgb(255, 209, 4);
    border: none;
    border-radius: 25px;
    color: black;
    font-size: 18px;
    text-transform: capitalize;
    font-weight: 500;
    transition: font-size .1s;
    cursor: pointer;
}

.btn:hover {
    background-color: rgb(255, 243, 73);
    font-size: 20px;
    font-weight: 500;
}

/* body css*/
main {
    width: 100%;
    height: 200vh;
}

.service-1 {
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
}

.serv-head {
    font-size: 45px;
    font-weight: 700;
    text-transform: capitalize;
}

.service-type {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.service-item {
    width: 200px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}

.service-img {
    width: 181px;
    height: 181px;
}

.service-head {
    text-transform: capitalize;
    font-size: 22px;
    font-weight: 600;
}

.service-info {
    font-size: 15px;
    font-weight: 400;
    text-align: justify;
}

/*service-2*/
.service-2 {
    height: 150vh;
    width: 100%;
    background: linear-gradient(168deg, #ffffff 40%, yellow 0);
}

.serve {
    width: 100%;
    height: 75vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.serv-info {
    width: 40%;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.s-btn {
    width: 150px;
    height: 50px;
    background-color: rgb(37, 37, 82);
    border: none;
    border-radius: 25px;
    color: white;
    font-size: 18px;
    text-transform: capitalize;
    font-weight: 500;
    transition: font-size .1s;
    cursor: pointer;
}

.s-btn:hover {
    background-color: rgb(37, 37, 82);
    font-size: 20px;
    font-weight: 500;
}

.sevice-img-2 {
    width: 500px;
    height: 300px;
}

/* Price */
.price {
    /*background-color: aqua;*/
    width: 100%;
    height: 150vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 100px;

}

.price-head {
    font-size: 45px;
    font-weight: 700;
    text-align: center;
}

.price-container {
    display: flex;
    justify-content: space-evenly;
    margin-left: 100px;
    margin-right: 100px;
}

.price-rate {
    width: 300px;
    height: 400px;
    background-color: rgb(25, 45, 82);
    color: white;
    border: none;
    border-radius: 5px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly ;
    box-shadow: 0 5px 10px 0 black;
}

.price-rate h1 {
    font-size: 25px;
    font-weight: 600;
    text-transform: uppercase;
}

.price-rate p {
    font-size: 18px;
    font-weight: 500;
    text-transform:capitalize;
}
.price-rate span {
    font-size: 70px;
    font-weight: 700;
}
.price-info p{
    font-size: 15px;
    text-transform: capitalize ;
    font-weight: 400;
    
}

.client {
    width: 100%;
    height: 220px;
    background-color: rgb(209, 209, 209);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.client-img {
    width: 100px;
    height: 60px;
}